<% provide(:title, 'Home Alone II') %>
<h1>Chap 3 Sample App</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>This is Lyndon's layout-based home page for the sample_app tutorial from Chap 3 of <a href="http://railstutorial.org/">Hartl's Rails Tutorial</a></p>



